<div class="party">
	 <!-- Agreements -->
	{{> agreements}}

	<div class="party-details hide">

	  <!-- Mobile -->
	  <div class="hide-gt-tablet">
	  	<h2 class="page-title pt4 uppercase">{{ party.title }}</h2>
	  	<p>{{ party.vibeLine }}</p>
	  	<p>{{ party.introduction }}</p>
	  	<p>1222 believes in creating a safe and responsible space to enjoy music and the community of others.</p>
	  	<h3>LOCATION</h3>
	  	<p>{{ party.locationName }}<br>{{ party.locationAddress }}</p>
	  	<img src="{{ party.locationMapImage }}">
	  	<p>{{ party.locationTip }}</p>
	  	<h3>LINEUP</h3>
	  	<p>
	  	{{#each party.artistLineup }}
	  		{{ this }}<br>
	  	{{/each}}
	  	</p>
	  	<h3>MONEY</h3>
	  	<p>{{ party.donationAmount }}<br>{{ party.donationText }}</p>
	  </div>

	  <!-- Desktop -->
	  <div class="hide-lt-tablet">
		<h2 class="page-title pt4 uppercase">{{ party.title }}</h2>
		<div class="row">
			<p>{{ party.vibeLine }}</p>
			<p>{{ party.introduction }}</p>
		</div>
		<div class="row">
			<div class="one-half column">
				<h3>LOCATION</h3>
				<p>{{ party.locationName }}<br>{{ party.locationAddress }}</p>
				<img src="{{ party.locationMapImage }}">
				<p>{{ party.locationTip }}</p>
			</div>
			<div class="one-half column">
				<h3>AGREEMENTS</h3>
				<img src="img/star.png" alt="star" width="40px" height="40px" class="float-left"><p>Respect + Love Each Other ❤️ NO ILL WILL TOLERATED</p>
				<p>Be safe, be quick, and be quiet on your journey, we never want to attract any unnecessary attention.</p>
				<p>LEAVE NO TRACE! (Trash, vandalism, etc.) We must be respectful of the spaces we occupy and all people who use it. We respect the community = The community respects us!</p>
				<p>BYOB!</p>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="one-half column">
				<h3>$$$$$$$$$$$$$</h3>
				<p>{{ party.donationText }}</p>
				<p>{{ party.donationAmount }}</p>
				<p><b>Venmo:</b> @productions-1222<br><b>Cash App:</b> $productions1222</p>
	  		</div>
	  	</div>
	  </div>

	</div>
</div>